/* =========================
   ESTILO GENERAL
========================= */

body {
  background: #f0f0f0;
  font-family: "Henny Penny", system-ui;
  padding: 40px;
}

/* =========================
   HEADER PRINCIPAL
========================= */

#principal {
  width: 700px;
  padding: 30px;
  margin: auto;
  text-align: center;

  /* linear-gradient */
  background: linear-gradient(to right, #006699, #00ccff);

  /* border-radius */
  border-radius: 20px;

  /* box-shadow */
  box-shadow: #666666 5px 5px 15px;

  /* outline */
  outline: 3px solid #003344;
  outline-offset: 8px;

  /* transform */
  transform: rotate(-1deg);
}

/* =========================
   TITULO
========================= */

#titulo {
  font-size: 40px;
  color: white;

  /* text-shadow */
  text-shadow: #000000 3px 3px 5px;
}

/* =========================
   CAJA SECUNDARIA
========================= */

.caja {
  width: 600px;
  margin: 50px auto;
  padding: 30px;
  text-align: center;

  /* radial-gradient */
  background: radial-gradient(circle, #ffffff 0%, #99ccff 100%);

  /* rgba */
  border: 5px solid rgba(0, 0, 0, 0.5);

  border-radius: 25px;

  box-shadow: #999999 10px 10px 20px;
}

/* =========================
   TEXTO
========================= */

.texto {
  font-size: 35px;

  color: hsla(200, 100%, 35%, 0.9);

  text-shadow: #888888 2px 2px 5px;

  transform: scale(1.1);

  transition: 0.5s;
}

/* =========================
   IMAGEN GOKU
========================= */

.contenedor-goku {
  text-align: center;
  margin-top: 40px;
}

.goku {
  width: 300px;

  /* border-radius */
  border-radius: 30px;

  /* box-shadow */
  box-shadow: #444444 10px 10px 20px;

  /* transform */
  transform: rotate(-3deg);

  /* transition */
  transition: 0.5s;

  /* opacity */
  opacity: 0.9;
}

/* EFECTO HOVER */

.goku:hover {
  transform: scale(1.1) rotate(3deg);

  opacity: 1;
}
